{% extends 'base.html' %}

{% block content %}


<div class="container">

    <div class="movie-list">
        {% for movie in movies %}
        <a href="{{movie.get_absolute_url}}">
            <div class="movie-card">
                <img src="{{ movie.thumbnail_url }}" alt="{{ movie.title }}">
                <div class="image-overlay"></div>
                <h4 class="movie-list-title">{{movie.title}}</h4>
            </div>
        </a>
        {% endfor %}
    </div>

</div>

{% endblock %}